
{% load static %}


<form class="formgraphnew1" method="post">
  {% csrf_token %}
  <h1 class="title1">Фильтры для графиков</h1>
  <div class="fields1">
    <div class="date-section">
      <div class="datefield2">
        <div class="date-icon-frame">
          <img class="dateicon2" alt="" src="{% static 'pulse_posts/dateIcon.svg' %}" />
        </div>
          {{ form.start }}
      </div>
      <div class="tickerfield1">
        <img class="tickericon1" alt="" src="{% static 'pulse_posts/tickerIcon.svg' %}" />

        {{ form.ticker }}
      </div>
    </div>
    <div class="date-section1">
      <div class="datefield3">
        <div class="dateicon-container">
          <img class="dateicon3" alt="" src="{% static 'pulse_posts/dateIcon.svg' %}" />
        </div>
        {{ form.end }}
      </div>
      <div class="investorfield1">
        <img
          class="investoricon1"
          alt=""
          src="{% static 'pulse_posts/investorIcon.svg' %}"
        />

        {{ form.investor }}
      </div>
    </div>
  </div>
  <div class="button-instance1">
    <button class="button">
      <div class="label-big1">
        <input class="div10" type="submit" value="Построить график"/>
      </div>
    </button>
    <div class="check-parent">
      {{ form.is_holiday }}

      <div class="label-small1">Учитывать выходные и праздничные дни</div>
    </div>
  </div>
</form>
