<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./desktop-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="desktopsideform">
      <div class="frameside">
        <div class="buttonesc">
          <img class="lines-icon" alt="" src="./public/lines.svg" />
        </div>
        <div class="boxes">
          <div class="boxgen">
            <img
              class="imagesmall-icon"
              alt=""
              src="./public/imagesmall@2x.png"
            />

            <div class="fieldsinfo">
              <div class="date">Дата</div>
              <div class="name">Имя автора</div>
            </div>
          </div>
          <div class="boxgen1">
            <div class="fieldsinfo1">
              <div class="date1">Дата</div>
              <div class="name1">Имя автора</div>
            </div>
            <img
              class="imagesmall-icon1"
              alt=""
              src="./public/imagesmall@2x.png"
            />
          </div>
          <div class="boxgen2">
            <div class="fieldsinfo2">
              <div class="date2">Дата</div>
              <div class="name2">Имя автора</div>
            </div>
            <img
              class="imagesmall-icon2"
              alt=""
              src="./public/imagesmall@2x.png"
            />
          </div>
          <div class="boxgen3">
            <div class="fieldsinfo3">
              <div class="date3">Дата</div>
              <div class="name3">Имя автора</div>
            </div>
            <img
              class="imagesmall-icon3"
              alt=""
              src="./public/imagesmall@2x.png"
            />
          </div>
          <div class="boxgen4">
            <div class="fieldsinfo4">
              <div class="date4">Дата</div>
              <div class="name4">Имя автора</div>
            </div>
            <img
              class="imagesmall-icon4"
              alt=""
              src="./public/imagesmall@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
