{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<meta name="viewport" content="initial-scale=1, width=device-width" />
<link rel="stylesheet" type="text/css" href="{% static 'css/admin-extra_2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin-extra.css' %}">
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
/>
{% endblock %}

{% block content %}
<div class="frame-root">
      <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h1 class="h1">Загрузка последних постов по тикеру</h1>
        <div class="field-parent">
          <div class="field">
            <img class="ticker-icon" alt="" src="{% static 'pulse_posts/ticker@2x.png' %}" />

            <input class="input000" placeholder="Тикер бумаги" type="text" />
          </div>
          <div class="field1">
            <img class="numb-icon" alt="" src="{% static 'pulse_posts/numb@2x.png' %}" />

            <input class="input111" placeholder="Кол-во постов " type="text" />
          </div>
        </div>
        <button class="button">
          <div class="text-icons">
            <input class="div" type="submit" value="Загрузить посты"/>
          </div>
        </button>
      </form>
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}